*, ::after, ::before {
    box-sizing: border-box
}

.container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    appearance: none;
    background-color: var(--bs-component-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: 8px;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

/* form-left-control은 공통 form-control 스타일을 기반으로 추가 속성만 포함 */

.form-left-control {
    text-align: left; /* 왼쪽 정렬 */
}


@media (prefers-reduced-motion: reduce) {
    .form-control {
        transition: none
    }
}

.form-control[type=file] {
    overflow: hidden
}

.form-control[type=file]:not(:disabled):not([readonly]) {
    cursor: pointer
}

.form-control:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-component-bg);
    border-color: #80b3ff;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(0, 102, 255, .25)
}

.form-control::-webkit-date-and-time-value {
    min-width: 85px;
    height: 1.5em;
    margin: 0
}

.form-control::-webkit-datetime-edit {
    display: block;
    padding: 0
}

.form-control::-moz-placeholder {
    color: var(--bs-secondary-color);
    opacity: 1
}

.form-control::placeholder {
    color: var(--bs-secondary-color);
    opacity: 1
}

.form-control:disabled {
    background-color: var(--bs-form-control-disabled-bg);
    opacity: 1
}

.form-control::file-selector-button {
    padding: .375rem .75rem;
    margin: -.375rem -.75rem;
    margin-inline-end: .75rem;
    color: var(--bs-body-color);
    background-color: var(--bs-tertiary-bg);
    pointer-events: none;
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    border-inline-end-width: var(--bs-border-width);
    border-radius: 0;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

@media (prefers-reduced-motion: reduce) {
    .form-control::file-selector-button {
        transition: none
    }
}

.form-control:hover:not(:disabled):not([readonly])::file-selector-button {
    background-color: var(--bs-border-color)
}

.form-control-plaintext {
    display: block;
    width: 100%;
    padding: .375rem 0;
    margin-bottom: 0;
    line-height: 1.5;
    color: var(--bs-body-color);
    background-color: transparent;
    border: solid transparent;
    border-width: var(--bs-border-width) 0
}

.form-control-plaintext:focus {
    outline: 0
}

.form-control-plaintext.form-control-lg, .form-control-plaintext.form-control-sm {
    padding-right: 0;
    padding-left: 0
}

.form-control-sm {
    min-height: calc(1.5em + .5rem + calc(var(--bs-border-width) * 2));
    padding: .25rem .5rem;
    font-size: .765625rem;
    border-radius: 6px
}

.form-control-sm::file-selector-button {
    padding: .25rem .5rem;
    margin: -.25rem -.5rem;
    margin-inline-end: .5rem
}

.form-control-lg {
    min-height: calc(1.5em + 1rem + calc(var(--bs-border-width) * 2));
    padding: .5rem 1rem;
    font-size: 1.09375rem;
    border-radius: 12px
}

.form-control-lg::file-selector-button {
    padding: .5rem 1rem;
    margin: -.5rem -1rem;
    margin-inline-end: 1rem
}

textarea.form-control {
    min-height: calc(1.5em + .75rem + calc(var(--bs-border-width) * 2))
}

textarea.form-control-sm {
    min-height: calc(1.5em + .5rem + calc(var(--bs-border-width) * 2))
}

textarea.form-control-lg {
    min-height: calc(1.5em + 1rem + calc(var(--bs-border-width) * 2))
}

.form-control-color {
    width: 3rem;
    height: calc(1.5em + .75rem + calc(var(--bs-border-width) * 2));
    padding: .375rem
}

.form-control-color:not(:disabled):not([readonly]) {
    cursor: pointer
}

.form-control-color::-moz-color-swatch {
    border: 0 !important;
    border-radius: 8px
}

.form-control-color::-webkit-color-swatch {
    border: 0 !important;
    border-radius: 8px
}

.form-control-color.form-control-sm {
    height: calc(1.5em + .5rem + calc(var(--bs-border-width) * 2))
}

.form-control-color.form-control-lg {
    height: calc(1.5em + 1rem + calc(var(--bs-border-width) * 2))
}

.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%
}

/*.input-group > .form-control, .input-group > .form-floating, .input-group > .form-select {*/
/*    position: relative;*/
/*    flex: 1 1 auto;*/
/*    width: 1%;*/
/*    min-width: 0*/
/*}*/

/*.input-group > .form-control:focus, .input-group > .form-floating:focus-within, .input-group > .form-select:focus {*/
/*    z-index: 5*/
/*}*/

/*.input-group .btn {*/
/*    position: relative;*/
/*    z-index: 2*/
/*}*/

/*.input-group .btn:focus {*/
/*    z-index: 5*/
/*}*/

.input-group-text {
    display: flex;
    align-items: center;
    padding: .375rem .75rem;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    text-align: center;
    white-space: nowrap;
    background-color: var(--bs-tertiary-bg);
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: 8px
}

.right-border {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}

.left-border {
    margin-left: calc(var(--bs-border-width) * -1);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0
}

.valid-feedback {
    width: 100%;
    margin-top: .25rem;
    font-size: .875em;
    color: var(--bs-success-text);
    flex: 9;
    white-space: nowrap; /* 텍스트를 단일 줄로 표시 */
    overflow: hidden;    /* 넘치는 내용을 숨김 */
    text-overflow: ellipsis; /* 넘치는 부분을 '...'으로 표시 */
}

.is-valid ~ .valid-feedback, .is-valid ~ .valid-tooltip, .was-validated :valid ~ .valid-feedback, .was-validated :valid ~ .valid-tooltip {
    display: block;
}

.form-check-inline .form-check-input ~ .valid-feedback {
    margin-left: .5em
}

.invalid-feedback {
    width: 100%;
    margin-top: .25rem;
    font-size: .875em;
    color: var(--bs-danger);
    flex: 9;
    white-space: nowrap; /* 텍스트를 단일 줄로 표시 */
    overflow: hidden;    /* 넘치는 내용을 숨김 */
    text-overflow: ellipsis; /* 넘치는 부분을 '...'으로 표시 */
}

.is-invalid ~ .invalid-feedback, .is-invalid ~ .invalid-tooltip, .was-validated :invalid ~ .invalid-feedback, .was-validated :invalid ~ .invalid-tooltip {
    display: block
}

.form-check-inline .form-check-input ~ .invalid-feedback {
    margin-left: .5em
}


.form-group {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    width: 100%;
    flex: 9;
    white-space: nowrap; /* 텍스트를 단일 줄로 표시 */
    overflow: hidden;    /* 넘치는 내용을 숨김 */
    text-overflow: ellipsis; /* 넘치는 부분을 '...'으로 표시 */
}

.form-group [class^=form-hint] {
    margin-top: .25rem;
    color: var(--bs-gray-500);
    padding-left: calc(2rem + 0.4rem);
}

.form-group [class^=form-hint]::before {
    display: inline-flex;
    width: 1rem;
    height: 1rem;
    flex-shrink: 0;
    flex-grow: 0;
    content: "";
    margin-left: calc((2rem + 0.4rem) * -1);
    margin-right: 2px;
    vertical-align: top;

    background: url(/assets/ico_hint_20.svg) no-repeat center;
    background-size: contain;
}

.textarea-count {
    font-size: var(--bs-body-font-size);
    width: 100%;
    margin-top: .25rem;
    margin-bottom: 0rem;
    text-align: right;
    flex:1;
    display: none;
}

label {
    display: inline-block;
}

.form-label {
    margin-bottom: .5rem
}

.col-form-label {
    padding-top: calc(.375rem + var(--bs-border-width));
    padding-bottom: calc(.375rem + var(--bs-border-width));
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5
}

.col-form-label-lg {
    padding-top: calc(.5rem + var(--bs-border-width));
    padding-bottom: calc(.5rem + var(--bs-border-width));
    font-size: 1.09375rem
}

.col-form-label-sm {
    padding-top: calc(.25rem + var(--bs-border-width));
    padding-bottom: calc(.25rem + var(--bs-border-width));
    font-size: .765625rem
}

.l-label {
    margin-bottom: .5rem;
}

.form-left-label {
    margin-right: 10px;
    white-space: nowrap; /* Prevents label text from wrapping */
}

.invalid-tooltip {
    position: absolute;
    top: 100%;
    z-index: 5;
    display: none;
    max-width: 100%;
    padding: .25rem .5rem;
    margin-top: .1rem;
    font-size: .765625rem;
    color: #fff;
    background-color: var(--bs-danger);
    border-radius: var(--bs-border-radius)
}


.form-control.is-invalid, .was-validated .form-control:invalid {
    border-color: var(--bs-danger);
    padding-right: calc(1.5em + .75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23df1414'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23df1414' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem)
}

.form-control.is-invalid:focus, .was-validated .form-control:invalid:focus {
    border-color: var(--bs-danger);
    box-shadow: 0 0 0 .25rem rgba(var(--bs-danger-rgb), .25)
}

.was-validated textarea.form-control:invalid, textarea.form-control.is-invalid {
    padding-right: calc(1.5em + .75rem);
    background-position: top calc(.375em + .1875rem) right calc(.375em + .1875rem)
}

.form-select.is-invalid, .was-validated .form-select:invalid {
    border-color: var(--bs-danger)
}

.form-select.is-invalid:not([multiple]):not([size]), .form-select.is-invalid:not([multiple])[size="1"], .was-validated .form-select:invalid:not([multiple]):not([size]), .was-validated .form-select:invalid:not([multiple])[size="1"] {
    --bs-form-select-bg-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23df1414'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23df1414' stroke='none'/%3e%3c/svg%3e");
    padding-right: 4.125rem;
    background-position: right .75rem center, center right 2.25rem;
    background-size: 16px 12px, calc(.75em + .375rem) calc(.75em + .375rem)
}

.form-select.is-invalid:focus, .was-validated .form-select:invalid:focus {
    border-color: var(--bs-danger);
    box-shadow: 0 0 0 .25rem rgba(var(--bs-danger-rgb), .25)
}

.form-control-color.is-invalid, .was-validated .form-control-color:invalid {
    width: calc(3rem + calc(1.5em + .75rem))
}

.form-check-input.is-invalid, .was-validated .form-check-input:invalid {
    border-color: var(--bs-danger)
}

.form-check-input.is-invalid:checked, .was-validated .form-check-input:invalid:checked {
    background-color: var(--bs-danger-text)
}

.form-check-input.is-invalid:focus, .was-validated .form-check-input:invalid:focus {
    box-shadow: 0 0 0 .25rem rgba(var(--bs-danger-rgb), .25)
}

.form-check-input.is-invalid ~ .form-check-label, .was-validated .form-check-input:invalid ~ .form-check-label {
    color: var(--bs-danger-text)
}


/*.input-group > .form-control:not(:focus).is-invalid, .input-group > .form-floating:not(:focus-within).is-invalid, .input-group > .form-select:not(:focus).is-invalid, .was-validated .input-group > .form-control:not(:focus):invalid, .was-validated .input-group > .form-floating:not(:focus-within):invalid, .was-validated .input-group > .form-select:not(:focus):invalid {*/
/*    z-index: 4*/
/*}*/

.input-container {
    position: relative;
    display: flex;
    align-items: center;
}

.input-right {
    padding-right: 2rem;
    background-color: #fff;
}

.icon-right {
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    background-image: url('assets/svg/calendar-lines-svgrepo-com.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
    pointer-events: auto;
}

.is-flex {
    flex: 1;
}

.hidden {
    display: none;
}
