.flatpickr-day:hover, .flatpickr-day:focus {
    border-color: #bcd6fb;
    background: #bcd6fb;
    color: #fff;
}

.flatpickr-day.today:hover, .flatpickr-day.today:focus {
    border-color: #80b3ff;
    background: #80b3ff;
    color: #fff;
}
.flatpickr-day.today {
    border-color: #267fff;
}

.flatpickr-monthSelect-month:hover, .flatpickr-monthSelect-month:focus {
    border-color: #bcd6fb;
    background: #bcd6fb;
    color: #fff;
}

.flatpickr-monthSelect-month.today {
    border-color: #267fff;
}