
:root {
    --krds-white: #fff;
    --krds-black: #000;
    --krds-primary: #246BEB;
    --krds-secondary: #003675;
    --krds-point: #E71825;
    --krds-danger: #EB003B;
    --krds-warning: #FFB724;
    --krds-success: #008A1E;
    --krds-information: #2768FF;
    --krds-primary-5: #EFF5FF;
    --krds-primary-10: #D3E1FB;
    --krds-primary-20: #A7C4F7;
    --krds-primary-30: #7CA6F3;
    --krds-primary-40: #5089EF;
    --krds-primary-60: #1D56BC;
    --krds-primary-70: #16408D;
    --krds-primary-80: #0E2B5E;
    --krds-primary-90: #07152F;
    --krds-secondary-5: #EDF1F5;
    --krds-secondary-10: #CDD7E4;
    --krds-secondary-20: #B4C4D6;
    --krds-secondary-30: #99B0CB;
    --krds-secondary-40: #2A5C96;
    --krds-secondary-60: #002B5E;
    --krds-secondary-70: #002046;
    --krds-secondary-80: #00162F;
    --krds-secondary-90: #000B17;
    --krds-point-5: #FDF2F3;
    --krds-point-10: #FAD1D3;
    --krds-point-20: #F5A3A8;
    --krds-point-30: #F1747C;
    --krds-point-40: #EC4651;
    --krds-point-60: #B9131E;
    --krds-point-70: #8B0E16;
    --krds-point-80: #5C0A0F;
    --krds-point-90: #2E0507;
    --krds-gray-5: #F8F8F8;
    --krds-gray-10: #F0F0F0;
    --krds-gray-20: #E4E4E4;
    --krds-gray-30: #D8D8D8;
    --krds-gray-40: #C6C6C6;
    --krds-gray-50: #8E8E8E;
    --krds-gray-60: #717171;
    --krds-gray-70: #555555;
    --krds-gray-80: #2D2D2D;
    --krds-gray-90: #1D1D1D;
    --krds-fz-display-sm: 4rem;
    --krds-fz-display-md: 5rem;
    --krds-fz-display-lg: 6.6rem;
    --krds-fz-heading-sm: 3.2rem;
    --krds-fz-heading-md: 4rem;
    --krds-fz-heading-lg: 5rem;
    --krds-fz-title-xsm: 1.5rem;
    --krds-fz-title-sm: 1.7rem;
    --krds-fz-title-md: 1.9rem;
    --krds-fz-title-lg: 2.1rem;
    --krds-fz-title-xlg: 2.5rem;
    --krds-fz-title-xxlg: 3.2rem;
    --krds-fz-body-sm: 1.5rem;
    --krds-fz-body-md: 1.7rem;
    --krds-fz-body-lg: 1.9rem;
    --krds-fz-link-sm: 1.5rem;
    --krds-fz-link-md: 1.7rem;
    --krds-fz-link-lg: 1.9rem;
    --krds-fz-detail-sm: 1.3rem;
    --krds-fz-detail-md: 1.5rem;
    --krds-fz-detail-lg: 1.7rem;
    --krds-fz-label-xsm: 1.3rem;
    --krds-fz-label-sm: 1.5rem;
    --krds-fz-label-md: 1.7rem;
    --krds-fz-label-lg: 1.9rem;
    --krds-rd-1: .1rem;
    --krds-rd-2: .2rem;
    --krds-rd-4: .4rem;
    --krds-rd-6: .6rem;
    --krds-rd-8: .8rem;
    --krds-rd-10: 1rem;
    --krds-rd-12: 1.2rem;
    --krds-rd-full: 100%;
    --krds-btn-h-xsm: 3.2rem;
    --krds-btn-h-sm: 4rem;
    --krds-btn-h-md: 4.8rem;
    --krds-btn-h-lg: 5.6rem;
    --krds-btn-h-xlg: 6.4rem;
    --krds-btn-px-xsm: 1rem;
    --krds-btn-px-sm: 1.2rem;
    --krds-btn-px-md: 1.6rem;
    --krds-btn-px-lg: 2rem;
    --krds-btn-px-xlg: 2.4rem;
    --krds-btn-rd-xsm: .6rem;
    --krds-btn-rd-sm: .6rem;
    --krds-btn-rd-md: .8rem;
    --krds-btn-rd-lg: .8rem;
    --krds-btn-rd-xlg: .8rem;
    --krds-btn-fz-xsm: 1.5rem;
    --krds-btn-fz-sm: 1.7rem;
    --krds-btn-fz-md: 1.7rem;
    --krds-btn-fz-lg: 1.9rem;
    --krds-btn-fz-xlg: 1.9rem;
    --krds-btnChipFill-h-md: 3.2rem;
    --krds-btnChipFill-h-lg: 3.6rem;
    --krds-btnChipFill-pd-md: 0rem 1.2rem;
    --krds-btnChipFill-pd-lg: 0rem 1.2rem;
    --krds-btnChipFill-rd-md: .6rem;
    --krds-btnChipFill-rd-lg: .6rem;
    --krds-btnChipFill-fz-md: 1.5rem;
    --krds-btnChipFill-fz-lg: 1.7rem;
    --krds-btnChipOutline-h-md: 3.2rem;
    --krds-btnChipOutline-h-lg: 3.6rem;
    --krds-btnChipOutline-pd-md: 0rem 1.2rem;
    --krds-btnChipOutline-pd-lg: 0rem 1.2rem;
    --krds-btnChipOutline-rd-md: 10rem;
    --krds-btnChipOutline-rd-lg: 10rem;
    --krds-btnChipOutline-fz-md: 1.5rem;
    --krds-btnChipOutline-fz-lg: 1.7rem;
    --krds-btnChipOutline-gap-md: .2rem;
    --krds-btnChipOutline-gap-lg: .2rem;
    --krds-btnChipOutline-size-md: 1.2rem;
    --krds-btnChipOutline-size-lg: 1.6rem;
    --krds-input-h-sm: 4rem;
    --krds-input-h-md: 4.8rem;
    --krds-input-h-lg: 5.6rem;
    --krds-input-h-xlg: 8rem;
    --krds-input-px-sm: 1.6rem;
    --krds-input-px-md: 1.6rem;
    --krds-input-px-lg: 1.6rem;
    --krds-input-px-xlg: 2.4rem;
    --krds-input-rd-sm: .6rem;
    --krds-input-rd-md: .8rem;
    --krds-input-rd-lg: .8rem;
    --krds-input-rd-xlg: 1.2rem;
    --krds-input-fz-sm: 1.5rem;
    --krds-input-fz-md: 1.7rem;
    --krds-input-fz-lg: 1.9rem;
    --krds-input-fz-xlg: 2.5rem;
    --krds-rdo-size-sm: 1.6rem;
    --krds-rdo-size-md: 2rem;
    --krds-rdo-size-lg: 2.4rem;
    --krds-rdo-chk-sm: .8rem;
    --krds-rdo-chk-md: 1rem;
    --krds-rdo-chk-lg: 1.4rem;
    --krds-rdo-pos-sm: .2rem;
    --krds-rdo-pos-md: .5rem;
    --krds-rdo-pos-lg: 1rem;
    --krds-rdo-fz-sm: 1.5rem;
    --krds-rdo-fz-md: 1.7rem;
    --krds-rdo-fz-lg: 1.9rem;
    --krds-chk-size-sm: 1.6rem;
    --krds-chk-size-md: 2rem;
    --krds-chk-size-lg: 2.4rem;
    --krds-chk-primary-chk-sm: 1.2rem;
    --krds-chk-primary-chk-md: 1.6rem;
    --krds-chk-primary-chk-lg: 2rem;
    --krds-chk-secondary-chk-md: 2rem;
    --krds-chk-pos-md: .5rem;
    --krds-chk-fz-sm: 1.5rem;
    --krds-chk-fz-md: 1.7rem;
    --krds-chk-fz-lg: 1.9rem;
    --krds-select-h-sm: 4rem;
    --krds-select-h-md: 4.8rem;
    --krds-select-h-lg: 5.6rem;
    --krds-select-pd-sm: 0 5.2rem 0 1.6rem;
    --krds-select-pd-md: 0 5.2rem 0 1.6rem;
    --krds-select-pd-lg: 0 5.2rem 0 1.6rem;
    --krds-select-rd-sm: .6rem;
    --krds-select-rd-md: .8rem;
    --krds-select-rd-lg: .8rem;
    --krds-select-fz-sm: 1.5rem;
    --krds-select-fz-md: 1.7rem;
    --krds-select-fz-lg: 1.9rem;
    --krds-select-rn-sm: 1.6rem;
    --krds-select-rn-md: 1.6rem;
    --krds-select-rn-lg: 1.6rem;
    --krds-select-bgs-sm: 2rem;
    --krds-select-bgs-md: 2rem;
    --krds-select-bgs-lg: 2.4rem;
    --krds-switch-h-md: 2rem;
    --krds-switch-h-lg: 2.4rem;
    --krds-switch-w-md: 3.2rem;
    --krds-switch-w-lg: 4rem;
    --krds-switch-b-md: 1.6rem;
    --krds-switch-b-lg: 2rem;
    --krds-switch-br-md: 0.2rem;
    --krds-switch-br-lg: 0.2rem;
    --krds-switch-pd-md: 0.8rem;
    --krds-switch-pd-lg: 0.8rem;
    --krds-switch-rd-md: 4rem;
    --krds-switch-rd-lg: 4rem;
    --krds-switch-fz-md: 1.7rem;
    --krds-switch-fz-lg: 1.9rem;
    --krds-rdoChipOutline-h-sm: 3.2rem;
    --krds-rdoChipOutline-h-md: 4rem;
    --krds-rdoChipOutline-h-lg: 4.8rem;
    --krds-rdoChipOutline-pd-sm: 0 1rem;
    --krds-rdoChipOutline-pd-md: 0 1.2rem;
    --krds-rdoChipOutline-pd-lg: 0 1.6rem;
    --krds-rdoChipOutline-rd-sm: .6rem;
    --krds-rdoChipOutline-rd-md: .6rem;
    --krds-rdoChipOutline-rd-lg: .8rem;
    --krds-rdoChipOutline-fz-sm: 1.5rem;
    --krds-rdoChipOutline-fz-md: 1.7rem;
    --krds-rdoChipOutline-fz-lg: 1.7rem;
    --krds-chkChipOutline-h-sm: 3.2rem;
    --krds-chkChipOutline-h-md: 4rem;
    --krds-chkChipOutline-h-lg: 4.8rem;
    --krds-chkChipOutline-pd-sm: 0 1rem 0 .8rem;
    --krds-chkChipOutline-pd-md: 0 1.2rem 0 1rem;
    --krds-chkChipOutline-pd-lg: 0 1.6rem 0 1.2rem;
    --krds-chkChipOutline-rd-sm: .6rem;
    --krds-chkChipOutline-rd-md: .6rem;
    --krds-chkChipOutline-rd-lg: .8rem;
    --krds-chkChipOutline-fz-sm: 1.5rem;
    --krds-chkChipOutline-fz-md: 1.7rem;
    --krds-chkChipOutline-fz-lg: 1.7rem;
    --krds-chkChipOutline-gap-sm: .4rem;
    --krds-chkChipOutline-gap-md: .4rem;
    --krds-chkChipOutline-gap-lg: .4rem;
    --krds-chkChipOutline-ico-sm: 1.6rem;
    --krds-chkChipOutline-ico-md: 2rem;
    --krds-chkChipOutline-ico-lg: 2rem;
    --krds-tab-h-full: 5.6rem;
    --krds-tab-h-fill: 4.8rem;
    --krds-tab-h-line: 4.8rem;
    --krds-tab-fz-full: 1.9rem;
    --krds-tab-fz-fill: 1.9rem;
    --krds-tab-fz-ilne: 1.9rem;
    --krds-tab-px-full: 0;
    --krds-tab-px-fill: 1.6rem;
    --krds-tab-px-line: .2rem;
    --krds-tab-ml-full: 0;
    --krds-tab-ml-fill: .8rem;
    --krds-tab-ml-line: 1.6rem;
    --krds-tab-rd-full: .8rem;
    --krds-tab-rd-fill: .8rem;
    --krds-tab-rd-line: 0;
    --krds-spacer-50: 20rem;
    --krds-spacer-49: 19.6rem;
    --krds-spacer-48: 19.2rem;
    --krds-spacer-47: 18.8rem;
    --krds-spacer-46: 18.4rem;
    --krds-spacer-45: 18rem;
    --krds-spacer-44: 17.6rem;
    --krds-spacer-43: 17.2rem;
    --krds-spacer-42: 16.8rem;
    --krds-spacer-41: 16.4rem;
    --krds-spacer-40: 16rem;
    --krds-spacer-39: 15.6rem;
    --krds-spacer-38: 15.2rem;
    --krds-spacer-37: 14.8rem;
    --krds-spacer-36: 14.4rem;
    --krds-spacer-35: 14rem;
    --krds-spacer-34: 13.6rem;
    --krds-spacer-33: 13.2rem;
    --krds-spacer-32: 12.8rem;
    --krds-spacer-31: 12.4rem;
    --krds-spacer-30: 12rem;
    --krds-spacer-29: 11.6rem;
    --krds-spacer-28: 11.2rem;
    --krds-spacer-27: 10.8rem;
    --krds-spacer-26: 10.4rem;
    --krds-spacer-25: 10rem;
    --krds-spacer-24: 9.6rem;
    --krds-spacer-23: 9.2rem;
    --krds-spacer-22: 8.8rem;
    --krds-spacer-21: 8.4rem;
    --krds-spacer-20: 8rem;
    --krds-spacer-19: 7.6rem;
    --krds-spacer-18: 7.2rem;
    --krds-spacer-17: 6.8rem;
    --krds-spacer-16: 6.4rem;
    --krds-spacer-15: 6rem;
    --krds-spacer-14: 5.6rem;
    --krds-spacer-13: 5.2rem;
    --krds-spacer-12: 4.8rem;
    --krds-spacer-11: 4.4rem;
    --krds-spacer-10: 4rem;
    --krds-spacer-9: 3.6rem;
    --krds-spacer-8: 3.2rem;
    --krds-spacer-7: 2.8rem;
    --krds-spacer-6: 2.4rem;
    --krds-spacer-5: 2rem;
    --krds-spacer-4: 1.6rem;
    --krds-spacer-3: 1.2rem;
    --krds-spacer-2: 0.8rem;
    --krds-spacer-1: 0.4rem;
    --krds-spacer-0: 0;
    --krds-spacer-default: .1rem;
    --krds-spacer-default2: .2rem;
    --krds-spacer-full: 100%;
}

:root,[data-bs-theme=light] {
    --bs-blue: #0066ff;
    --bs-indigo: #612bff;
    --bs-purple: #a104ff;
    --bs-pink: #df1578;
    --bs-red: #df1414;
    --bs-orange: #ff9f0c;
    --bs-yellow: #f9e80d;
    --bs-green: #1b8835;
    --bs-teal: #3cd2a5;
    --bs-cyan: #0eb3ff;
    --bs-black: #000000;
    --bs-white: #FFFFFF;
    --bs-gray: #404548;
    --bs-gray-dark: #26292b;
    --bs-gray-100: #d5d6d7;
    --bs-gray-200: #b3b6b7;
    --bs-gray-300: #999da0;
    --bs-gray-400: #808588;
    --bs-gray-500: #555c60;
    --bs-gray-600: #404548;
    --bs-gray-700: #33373a;
    --bs-gray-800: #26292b;
    --bs-gray-900: #151718;
    --bs-default: #FFFFFF;
    --bs-theme: #0066ff;
    --bs-theme-color: #FFFFFF;
    --bs-primary: #0066ff;
    --bs-secondary: #555c60;
    --bs-warning: #ff9f0c;
    --bs-danger: #df1414;
    --bs-success: #1b8835;
    --bs-info: #0eb3ff;
    --bs-dark: #161616;
    --bs-black: #000000;
    --bs-white: #FFFFFF;
    --bs-purple: #a104ff;
    --bs-indigo: #612bff;
    --bs-red: #df1414;
    --bs-pink: #df1578;
    --bs-green: #1b8835;
    --bs-yellow: #f9e80d;
    --bs-teal: #3cd2a5;
    --bs-muted: #555c60;
    --bs-light: #d5d6d7;
    --bs-lime: #81f32d;
    --bs-gray-100: #d5d6d7;
    --bs-gray-200: #b3b6b7;
    --bs-gray-300: #999da0;
    --bs-gray-400: #808588;
    --bs-gray-500: #555c60;
    --bs-gray-600: #404548;
    --bs-gray-700: #33373a;
    --bs-gray-800: #26292b;
    --bs-gray-900: #151718;
    --bs-default-rgb: 255,255,255;
    --bs-theme-rgb: 0,102,255;
    --bs-theme-color-rgb: 255,255,255;
    --bs-primary-rgb: 0,102,255;
    --bs-secondary-rgb: 85,92,96;
    --bs-warning-rgb: 255,159,12;
    --bs-danger-rgb: 223,20,20;
    --bs-success-rgb: 27,136,53;
    --bs-info-rgb: 14,179,255;
    --bs-dark-rgb: 22,22,22;
    --bs-black-rgb: 0,0,0;
    --bs-white-rgb: 255,255,255;
    --bs-purple-rgb: 161,4,255;
    --bs-indigo-rgb: 97,43,255;
    --bs-red-rgb: 223,20,20;
    --bs-pink-rgb: 223,21,120;
    --bs-green-rgb: 27,136,53;
    --bs-yellow-rgb: 249,232,13;
    --bs-teal-rgb: 60,210,165;
    --bs-muted-rgb: 85,92,96;
    --bs-light-rgb: 213,214,215;
    --bs-lime-rgb: 129,243,45;
    --bs-gray-100-rgb: 213,214,215;
    --bs-gray-200-rgb: 179,182,183;
    --bs-gray-300-rgb: 153,157,160;
    --bs-gray-400-rgb: 128,133,136;
    --bs-gray-500-rgb: 85,92,96;
    --bs-gray-600-rgb: 64,69,72;
    --bs-gray-700-rgb: 51,55,58;
    --bs-gray-800-rgb: 38,41,43;
    --bs-gray-900-rgb: 21,23,24;
    --bs-primary-text-emphasis: #002966;
    --bs-secondary-text-emphasis: #222526;
    --bs-success-text-emphasis: #0b3615;
    --bs-info-text-emphasis: #064866;
    --bs-warning-text-emphasis: #664005;
    --bs-danger-text-emphasis: #590808;
    --bs-light-text-emphasis: #33373a;
    --bs-dark-text-emphasis: #33373a;
    --bs-primary-bg-subtle: #cce0ff;
    --bs-secondary-bg-subtle: #d5d6d7;
    --bs-success-bg-subtle: #d1e7d7;
    --bs-info-bg-subtle: #cff0ff;
    --bs-warning-bg-subtle: #fefacf;
    --bs-danger-bg-subtle: #f9d0d0;
    --bs-light-bg-subtle: #eaebeb;
    --bs-dark-bg-subtle: #808588;
    --bs-primary-border-subtle: #99c2ff;
    --bs-secondary-border-subtle: #b3b6b7;
    --bs-success-border-subtle: #a4cfae;
    --bs-info-border-subtle: #9fe1ff;
    --bs-warning-border-subtle: #fdf69e;
    --bs-danger-border-subtle: #f2a1a1;
    --bs-light-border-subtle: #b3b6b7;
    --bs-dark-border-subtle: #555c60;
    --bs-white-rgb: 255,255,255;
    --bs-black-rgb: 0,0,0;
    --bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: "Inter",sans-serif;
    --bs-body-font-size: 0.875rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #222222;
    --bs-body-color-rgb: 34,34,34;
    --bs-body-bg: #f1f3f4;
    --bs-body-bg-rgb: 241,243,244;
    --bs-emphasis-color: #000000;
    --bs-emphasis-color-rgb: 0,0,0;
    --bs-secondary-color: rgba(34, 34, 34, 0.75);
    --bs-secondary-color-rgb: 34,34,34;
    --bs-secondary-bg: #d5d6d7;
    --bs-secondary-bg-rgb: 213,214,215;
    --bs-tertiary-color: rgba(34, 34, 34, 0.5);
    --bs-tertiary-color-rgb: 34,34,34;
    --bs-tertiary-bg: #f1f3f4;
    --bs-tertiary-bg-rgb: 241,243,244;
    --bs-heading-color: #000000;
    --bs-link-color: #0066ff;
    --bs-link-color-rgb: 0,102,255;
    --bs-link-decoration: underline;
    --bs-link-hover-color: rgba(0, 102, 255, 0.5);
    --bs-link-hover-color-rgb: 0,102,255;
    --bs-code-color: #df1578;
    --bs-highlight-color: #222222;
    --bs-highlight-bg: #fefacf;
    --bs-border-width: 1px;
    --bs-border-style: solid;
    --bs-border-color: #d9dee1;
    --bs-border-color-translucent: rgba(0, 0, 0, 0.1);
    --bs-border-radius: 8px;
    --bs-border-radius-sm: 6px;
    --bs-border-radius-lg: 12px;
    --bs-border-radius-xl: 1rem;
    --bs-border-radius-xxl: 2rem;
    --bs-border-radius-2xl: var(--bs-border-radius-xxl);
    --bs-border-radius-pill: 50rem;
    --bs-box-shadow: 0 0.5rem 1rem rgba(var(--bs-body-color-rgb), 0.15);
    --bs-box-shadow-sm: 0 0.125rem 0.25rem rgba(var(--bs-body-color-rgb), 0.075);
    --bs-box-shadow-lg: 0 1rem 3rem rgba(var(--bs-body-color-rgb), 0.175);
    --bs-box-shadow-inset: inset 0 1px 2px rgba(var(--bs-body-color-rgb), 0.075);
    --bs-focus-ring-width: 0.25rem;
    --bs-focus-ring-opacity: 0.25;
    --bs-focus-ring-color: rgba(0, 102, 255, 0.25);
    --bs-form-valid-color: #1b8835;
    --bs-form-valid-border-color: #1b8835;
    --bs-form-invalid-color: #df1414;
    --bs-form-invalid-border-color: #df1414
}

[data-bs-theme=dark] {
    color-scheme: dark;
    --bs-body-color: #aaaaaa;
    --bs-body-color-rgb: 170,170,170;
    --bs-body-bg: #161616;
    --bs-body-bg-rgb: 22,22,22;
    --bs-emphasis-color: #d5d6d7;
    --bs-emphasis-color-rgb: 213,214,215;
    --bs-secondary-color: rgba(170, 170, 170, 0.75);
    --bs-secondary-color-rgb: 170,170,170;
    --bs-secondary-bg: #26292b;
    --bs-secondary-bg-rgb: 38,41,43;
    --bs-tertiary-color: rgba(170, 170, 170, 0.5);
    --bs-tertiary-color-rgb: 170,170,170;
    --bs-tertiary-bg: #1e2022;
    --bs-tertiary-bg-rgb: 30,32,34;
    --bs-primary-text-emphasis: #66a3ff;
    --bs-secondary-text-emphasis: #999da0;
    --bs-success-text-emphasis: #76b886;
    --bs-info-text-emphasis: #6ed1ff;
    --bs-warning-text-emphasis: #ffc56d;
    --bs-danger-text-emphasis: #ec7272;
    --bs-light-text-emphasis: #d5d6d7;
    --bs-dark-text-emphasis: #999da0;
    --bs-primary-bg-subtle: #001433;
    --bs-secondary-bg-subtle: #151718;
    --bs-success-bg-subtle: #051b0b;
    --bs-info-bg-subtle: #032433;
    --bs-warning-bg-subtle: #322e03;
    --bs-danger-bg-subtle: #2d0404;
    --bs-light-bg-subtle: #26292b;
    --bs-dark-bg-subtle: #131516;
    --bs-primary-border-subtle: #003d99;
    --bs-secondary-border-subtle: #33373a;
    --bs-success-border-subtle: #105220;
    --bs-info-border-subtle: #064866;
    --bs-warning-border-subtle: #645d05;
    --bs-danger-border-subtle: #860c0c;
    --bs-light-border-subtle: #33373a;
    --bs-dark-border-subtle: #26292b;
    --bs-heading-color: #fff;
    --bs-link-color: #66a3ff;
    --bs-link-hover-color: #99c2ff;
    --bs-link-color-rgb: 102,163,255;
    --bs-link-hover-color-rgb: 153,194,255;
    --bs-code-color: #ec73ae;
    --bs-highlight-color: #aaaaaa;
    --bs-highlight-bg: #645d05;
    --bs-border-color: #404040;
    --bs-border-color-translucent: rgba(185, 185, 185, 0.1);
    --bs-form-valid-color: #76b886;
    --bs-form-valid-border-color: #76b886;
    --bs-form-invalid-color: #ec7272;
    --bs-form-invalid-border-color: #ec7272
}
